/*основний колір #212121
вторинний колір 2196F3, FFFFFF*/
:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #E5E5E5;
    --white-standart: #FFFFFF;
    --dark-white: #F5F4FA;
    --dark-backround: #2F303A;
    /*--main-font:'Roboto', sans-serif; src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');*/
}
ul {
    list-style: none;
}
.body {
    color: var(--primary-text-color);
    background-color: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.header-white {
    background: var(--white-standart);
}
/* site nav*/
.site-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--title-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.link {
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    float: none;
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}

.baner {
    background-color: var(--dark-backround);
}

.main-title {
    color: var(--white-standart);
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.button {
    color: var(--white-standart);
    border-radius: 4px;
    background-color: var(--accent-color);
    border: 0px;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.06em;
        font-size: 16px;
        line-height: calc(30/16);
}

.section-list {
    background-color: var(--white-standart);
    letter-spacing: 0.03em;
}

.second-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team {
    background-color: var(--dark-white);
}

.title-list {
    color: var(--primary-text-color);
        font-size: 18px;
        line-height: calc(36/18);
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.list-text {
    color: var(--title-text-color);
    letter-spacing: 0.03em;
        font-size: 16px;
        line-height: calc(30/16);
}

.team-list-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-title-list {
    color: var(--primary-text-color);
        font-size: 16px;
        line-height: calc(19/16);
    letter-spacing: 0.03em;
}

.title {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.title-black {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.footer {
    background-color: var(--dark-backround);
}
.adress {
    color: var(--white-standart);
    font-size: 14px;
    line-height: calc(24/14);
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.connect {
    color: var(--title-text-color);
    text-decoration: none;
    letter-spacing: 0.03em;
}

.button-list {
    color: var(--white-standart);
    border-radius: 4px;
    background-color: var(--dark-white);
    border: 0px;
    font-size: 16px;
    line-height: calc(26/16);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    cursor: pointer;
}

.connect:hover,
.connect:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.adress {
    color: var(--white-standart);
    font-size: 14px;
    line-height: calc(24/14);
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.adress-links {
    font-style: normal;
}

.connect {
    color: var(--title-text-color);
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
}

.button-list {
    color: var(--white-standart);
    border-radius: 4px;
    background-color: var(--dark-white);
    border: 0px;
        font-size: 16px;
        line-height: calc(26/16);
    color: var(--primary-text-color);
    font-style: normal;
    letter-spacing: 0.03em;
}

.button-list:hover,
.button-list:focus {
    background-color: var(--accent-color);
    cursor: pointer;
    color: var(--white-standart);
}